<div class="container mt-5">
    <div class="row mt-5 justify-content-end mb-5">
        <div class="col-lg-5 im m-2 mt-5" style="height: 320px;">

        </div>
        <div class="col-lg-6 m-2">
            <div class="row mb-5 justify-content-center align-items-center">
                <div class="col-10 mt-3 text-start">
                    <h3 class="mb-4">
                        Bienvenido a Conector Pymes:
                    </h3>
                    <p >
                        Nuestra misión es simple: facilitar la visibilidad y el contacto entre empresas y clientes
                        potenciales.
                        Ya sea que estés buscando promocionar tu negocio o encontrar productos y servicios de calidad,
                        aquí encontrarás una comunidad activa y comprometida.
                    </p>
                    <p>
                        Únete a nosotros en esta aventura de conectar empresas con personas que buscan sus productos y
                        servicios. ¡Explora, interactúa y descubre todo lo que Conector Pymes tiene para ofrecer!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>