<footer class="container-fluid">
    <div class="row">
        <div class="col text-center col-xs-12 col-md-12 col-lg-12 text-center mt-4">
            <p class="h3 mb-3">Contacto</p>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 text-center mt-2">
            <i class="fa-solid fa-envelope text-white">
                <span class="mt-5" style="font-family: sans-serif;">
                    info@conectorpymes.cl
                </span>
            </i>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 text-center mt-2">
            <i class="fa-solid fa-phone text-white"><span style="font-family: sans-serif;"> +56 (2) 6577 988</span></i>
        </div>
        <div class="col-xs-12 mt-5">
            <p class="text-center fot">Copyright © 2024 Conector Pymes - Todos los derechos reservados.</p>
        </div>
    </div>
</footer>